/* general */

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

h2 {
    font-family: "Lucida Console", "Courier New", monospace;
}

.text-center {
    text-align: center;
}

.clear-fix {
    clear: both;
}

.container {
    width: 80%;
    margin: auto;
}


/* nav */

.nav {
    background-color: rgba(233, 217, 217, 0.2);
    z-index: 9999;
    position: fixed;
    top: 0px;
    width: 100%;
}

.nav .nav-img {
    float: left;
}

.nav .nav-img img {
    width: 150px;
    padding: 10px;
}

.home ul {
    float: right;
    list-style-type: none;
}

.home ul li {
    float: left;
    padding: 20px;
}

.home ul li a {
    color: black;
    text-decoration: none;
    text-transform: capitalize;
}


/* welcome */

.welcome {
    background-image: url("../images/drew-coffman.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: auto;
}

.welcome div {
    padding-top: 300px;
    color: white;
    background-color: rgba(0, 0, 0, .3);
    height: 100%;
}

.welcome div h1 {
    margin-bottom: 10px;
    font-family: 'Alegreya', serif;
    font-size: 80px;
}

.welcome div p {
    font-size: 24px;
}

.btn {
    margin-top: 20px;
    padding: 10px 15px;
    color: white;
    border: none;
    background-color: rgb(121, 100, 7);
}

.hover:hover {
    background: white;
    color: rgb(121, 100, 7);
}

.outerbtn {
    border-color: white;
    border-style: solid;
    background: transparent;
}


/* who we */

.leftside {
    float: left;
    width: 40%;
    margin: 30px;
}

.leftside .sideimg {
    width: 100%;
}

.rightside {
    float: right;
    width: 40%;
    margin: 30px;
}

.who .item {
    /* background-color: blue; */
    width: 100%;
}

.who .item .left {
    float: left;
    width: 15%;
}

.who .item img {
    width: 100%;
}

.who .item .right {
    float: right;
    width: 85%;
    padding: 30px 0;
}

.who .center {
    margin-top: 50px;
}


/* location */

.location {
    background-color: antiquewhite;
}

.location img {
    width: 100%;
}

.location p {
    margin: 20px;
}

.location .center {
    margin-top: 100px;
}


/* baking */

.product {
    float: left;
    width: 33.33333%;
}

.inner {
    padding: 10px 15px;
}

.baking-content .product img {
    width: 100%;
}

.baking {
    margin: 20px;
}